%body
  .Chat-main
    .Chat-main__header
      .Chat-main__header--box
        %h2.current
          = @group.name
        %ul.member
          Member：
          %li.name
            - @group.users.each do |g|
              = g.name
      %a.btn 
        = link_to edit_group_path(@group), class: "btn1" do
          Edit
    .Chat-main__message
      = render @messages
    .Chat-main__form
      = form_with model: [@group, @message], html: {class: "formContents"}, local: true do |f|
        = f.text_field :content, class: "message", placeholder: "type a message"
        .inputBox
          = f.label :image, class: "pic" do
            = icon('far','image',class: 'icon')
            =f.file_field :image, class: "file"
        = f.submit "Send", class: "sendBtn"
      -# %form.formContents
      -#   %input.message{"placeholder": "type a message", "type": "text"}
      -#   .inputBox
      -#     %label.pic
      -#       = icon('far','image',class: 'icon')
      -#       %input.file{"type": "file"}
      -#   %input.sendBtn{"name": "commit", "type": "submit", "value": "Send"}
